*
{
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body
{
    display: grid;
    margin: 0;
}
.menu
{
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px;
}
header
{
    background-color: #52503B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;    
    max-width: 100%;
    width: 100vw;
    
}    
.underheader1
{
    /* background-image: url(assets/images/house.png);
    background-repeat: no-repeat; */
    /* max-width: 1300px;
    max-height: 800px; */
    text-align: center;
    color: #FFFFFF;
    /* padding: 200px 0 0 0; */
}
.u11
{
    width: 100vw;
}
.house
{
    max-width: 100%;
}
.underheader2
{
    background-color: #FAF8F0;
    height: 400px;
    /* width: 1300px; */
    max-width: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-items: center;
    justify-content: center;
}
.underheader3
{
    background-color: white;
    height: 555px;
    /* width: 1300px; */
    max-width: 100%;
    width: 100vw;
    text-align: center;
    font-size: 90px;
    font-weight: bold; 
}
.underheader4
{
    background-image: url(assets/images/kitchen_image.png);
    height: 600px;
    max-width: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.underheader5
{
    background-color: #FAF8F0;
    /* height: 490px;
    width: 1300px; */
    max-width: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.overfooter5
{
    background-color: #FFFFFF;
    /* height: 690px;
    width: 1300px; */
    max-width: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.overfooter4
{
    background-color: #FAF8F0;
    height: 650px;
    /* width: 1300px; */
    max-width: 100%;
    width: 100vw;
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    text-align: center;
}
.room
{
    max-width: 100%;
}
.overfooter3
{
    width: 100vw;
}
.overfooter2
{
    background-color: #FFFFFF;
    height: 300px;
    /* width: 1300px; */
    max-width: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.overfooter1
{
    background-color: #FAF8F0;
    height: 400px;
    /* width: 1300px; */
    max-width: 100%;
    width: 100vw;
    text-align: center;
    padding: 100px 0 0 0;
}
footer
{
    background-color: #52503B;
    height: 555px;
    /* width: 1300px; */
    max-width: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    color: #FFFFFF;
    align-items: center;
}
.u51
{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    margin-top: auto;
    margin-bottom: auto;
}
.u52
{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}
.u53
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.u54
{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.u55
{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.u56
{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
.u57
{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}
.u58
{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}
.o51
{
    grid-row: 1 / 2;
    grid-column: 1 / 3;  
    margin-top: auto;
    margin-bottom: auto;
}
.o52
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;  
}
.o53
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;  
}
.o54
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;  
}
.o55
{
    grid-row: 3 / 4;
    grid-column: 2 / 3;  
}
.o56
{
    grid-row: 4 / 5;
    grid-column: 1 / 2;  
}
.o57
{
    grid-row: 4 / 5;
    grid-column: 2 / 3;  
}
.o58
{
    grid-row: 5 / 6;
    grid-column: 1 / 2;  
}
.o59
{
    grid-row: 5 / 6;
    grid-column: 2 / 3;  
}
.o41
{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin-top: auto;
}
.o42
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #FFFFFF;
    width: 100%;
    height: 220;
    margin: auto auto auto auto;
}
.o43
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #FFFFFF;
    width: 100%;
    height: 220;
    margin: auto auto auto auto;
}
.o21
{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.o22
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.o23
{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.o24
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.o25
{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.f1
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.f2
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.f3
{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.f4
{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
}
.u21
{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin-top: auto;
    margin-bottom: auto;
}
.u22
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 360px;
    height: 180px;
}
.u23
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 360px;
    height: 180px;
} 
.h1
{
    margin: 5px;
}   
.he2
{
    align-self: center;
}
.he3
{ 
    align-self: center;
}
.mouse
{
    margin: 200px 0 100px 0;
}
.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}   
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}
.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu-item {
    display: block;
    padding: 12px 24px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #CFD8DC;
}
#menu-toggle{
    opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
    visibility: visible;
    right: 0;}

@media screen and (max-width: 767px)
{
    .underheader2
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.u21
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: auto;
    margin-bottom: auto;
}
.u22
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 360px;
    height: 180px;
}
.u23
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 360px;
    height: 180px;
}
.underheader3
{
    height: 555px;
    font-size: 60px;
}
.underheader5
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.u51
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.u52
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.u53
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.u54
{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
.u55
{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}
.u56
{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
.u57
{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}
.u58
{
    grid-row: 8 / 9;
    grid-column: 1 / 2;
}
.overfooter4
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
.o41
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

}
.o42
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.o43
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.overfooter2
{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.o21
{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.o22
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.o23
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.o24
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.o25
{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.overfooter5
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.o51
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;  
    margin-top: auto;
    margin-bottom: auto;
}
.o52
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;  
}
.o53
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;  
}
.o54
{
    grid-row: 4 / 5;
    grid-column: 1 / 2;  
}
.o55
{
    grid-row: 5 / 6;
    grid-column: 1 / 2;  
}
.o56
{
    grid-row: 6 / 7;
    grid-column: 1 / 2;  
}
.o57
{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}
.o58
{
    grid-row: 8 / 96;
    grid-column: 1 / 2;  
}
.o59
{
    grid-row: 9 / 10;
    grid-column: 1 / 2;
}
footer
{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.f1
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.f2
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.f3
{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
.f4
{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.he2
{
    display: none;
}
.he3
{ 
    display: none;
}
}
@media screen and (min-width: 768px) 
{
    .menu-btn
    {
        display: none;
    }

}